<section class="project-page" id="project">
    <div class="container">
        <h1 class="project-title">Проект "Человек будущего"</h1>
        <div class="project-wrap">
            <img class="project-image" src="./images/project.png" alt="Фото с проекта" width="233" height="234">
            <img class="project-image-dekor" src="./images/project-dekor.png" alt="circle">
            <ul class="list">
                <li class="project-list-item pos_1">
                    <svg class="project-icon" width="12" height="12">
                        <use href="./images/icons.svg#calendar"></use>
                    </svg>
                    2 раза в год в <span class="highlight">Падерборне</span>:
                    <ul class="list project-sec-list">
                        <li>Первая суббота марта</li>
                        <li>Первая суббота ноября</li>
                    </ul>
                </li>

                <li class="project-list-item pos_2">
                    <svg class="project-icon" width="12" height="12">
                        <use href="./images/icons.svg#adress"></use>
                    </svg>
                    Адрес проведения: <span class="highlight">33100 Paderborn Schützenpl 1</span>
                </li>
                <li class="project-list-item pos_3">
                    <svg class="project-icon" width="12" height="12">
                        <use href="./images/icons.svg#office"></use>
                    </svg>
                    В здании есть <span class="highlight">4 зала</span>, <span class="highlight">3</span> из которых
                    используются в качестве залов для выступлений
                </li>
            </ul>

        </div>
    </div>
</section>