<section class="about-section" id="about">
    <div class="container">
        <div class="about-container">
            <div>
                <h2 class="about-tittle">Привет!</h2>
                <img class="about-image-mb" src="./images/elena.jpg" alt="Elena" width="208.5" height="320">
                <p class="about-text about-text-marg">Меня зовут Елена Кобызева, и я Коуч с опытом организации как
                    крупных
                    развивающих
                    проектов на 100+ человек, так и
                    небольших, но не менее значимых мероприятий.</p>
                <p class="about-text about-text-marg">В моем репертуаре - широкий спектр мероприятий: от вдохновляющих
                    завтраков и
                    практичных мастер-классов до индивидуальных
                    сессий и глубоких лекций. Моя команда и я также специализируемся на трансформационных играх, которые
                    помогают развить
                    лидерские качества и улучшить коммуникацию. Но это еще не все!</p>
                <p class="about-text">Мы также проводим развлекательные игры в нашем уютном офисе, чтобы создать
                    приятную и
                    вдохновляющую атмосферу для всех
                    участников. Давайте вместе создадим яркие и запоминающиеся события!"</p>
            </div>
            <img class="about-image" src="./images/elena.jpg" alt="Elena" width="329" height="512">
        </div>
        <h3 class="about-offer">Если ты специалист, предлагаю тебе сотрудничество!</h3>
        <ul class="list about-list">
            <li><img class="about-list-image" src="./images/photo1.jpg" alt="community" width="240" height="320"></li>
            <li><img class="about-list-image" src="./images/photo2.jpg" alt="community" width="240" height="320"></li>
            <li><img class="about-list-image" src="./images/photo3.jpg" alt="community" width="240" height="320"></li>
        </ul>
    </div>
</section>