<section class="conditions-page" id="conditions">
    <div class="container">
        <h2 class="conditions-title">Условия сотрудничества</h2>
        <ul class="list">
            <li class="conditions-list"><span class="conditions-list-el"> 1. Участие в проекте "Человек
                    будущего":</span>
                <p class="conditions-list-item">Ты сможешь не только получить классную рекламу и шанс выступить
                    публично, но и приобрести ценный
                    опыт. Разместить в социальных сетях свое выступление, привлекая внимание широкой аудитории и
                    подчеркивая свой экспертный статус в области,
                    которую ты представляешь.</p>
            </li>
            <li class="conditions-list"><span class="conditions-list-el">2. Сотрудничество в офисе на постоянной
                    основе:</span>
                <p class="conditions-list-item">Стать постоянным партнером в нашем офисе, где проводятся различные
                    мероприятия. Ты сможешь посещать
                    нас регулярно и
                    принимать участие в наших мероприятиях.</p>
            </li>
            <li class="conditions-list"><span class="conditions-list-el">3. Аренда помещения в нашем
                    пространстве:</span>
                <p class="conditions-list-item">Ты арендуешь помещение в нашем пространстве для проведения своих
                    мероприятий. У нас есть удобные и
                    функциональные помещения, которые подойдут для различных типов мероприятий. Мы готовы предложить
                    тебе выгодные условия аренды и поддержку в организации твоих мероприятий, чтобы они прошли
                    максимально успешно и эффективно.</p>
            </li>
        </ul>
    </div>
</section>