<section class="cooperation-page">
    <div class="container">
        <h2>Как мы можем сотрудничать с тобой?</h2>
        <ol>
            <li>Участие в проекте "Человек будущего": <br>
                <p>Ты сможешь не только получить классную рекламу и шанс выступить публично, но и приобрести ценный
                    опыт. Разместить в социальных сетях свое выступление, привлекая внимание широкой аудитории и
                    подчеркивая свой экспертный статус в области,
                    которую ты представляешь.</p>
            </li>
            <li>Сотрудничество в офисе на постоянной основе: <br>
                <p>Стать постоянным партнером в нашем офисе, где проводятся различные мероприятия. Ты сможешь посещать
                    нас регулярно и
                    принимать участие в наших мероприятиях.</p>
            </li>
            <li>Аренда помещения в нашем пространстве: <br>
                <p>Ты арендуешь помещение в нашем пространстве для проведения своих мероприятий. У нас есть удобные и
                    функциональные помещения, которые подойдут для различных типов мероприятий. Мы готовы предложить
                    тебе выгодные условия аренды и поддержку в организации твоих мероприятий, чтобы они прошли
                    максимально успешно и эффективно.</p>
            </li>
        </ol>
    </div>
</section>