<section class="cooperation-page" id="cooperation">
    <div class="container">
        <h2 class="cooperation-title">Предложение о сотрудничестве</h2>
        <ul class="list cooperation-list">
            <li class="coop-list-item">
                <div class="coop-icon-wrap">
                    <svg class="coop-icon" width="40" height="40">
                        <use href="./images/icons.svg#site"></use>
                    </svg>
                </div>
                <h3 class="coop-list-title">Сайт</h3>
                <p class="coop-list-text">Если вы спикер или консультант, мы разместим ваш профиль на сайте проекта, где
                    каждый сможет перейти к вашим профилям в социальных сетях. <br>Вы также
                    сможете делиться информацией о продаже своих семинаров.
                </p>
            </li>
            <li class="coop-list-item">
                <div class="coop-icon-wrap">
                    <svg class="coop-icon" width="40" height="40">
                        <use href="./images/icons.svg#stats"></use>
                    </svg>
                </div>
                <h3 class="coop-list-title">Реклама</h3>
                <p class="coop-list-text">Реклама в моем Instagram, которая останется на пару лет и будет продолжать
                    работать на вас в течение
                    долгого времени, привлекая внимание новых клиентов и поддерживая интерес к вашим услугам.</p>
            </li>
            <li class="coop-list-item">
                <div class="coop-icon-wrap">
                    <svg class="coop-icon" width="40" height="40">
                        <use href="./images/icons.svg#building"></use>
                    </svg>
                </div>
                <h3 class="coop-list-title">Офис</h3>
                <p class="coop-list-text">Возможность приехать в мой офис, который
                    сейчас становится отправной
                    точкой для
                    осуществления моей большой мечты - центра развития. <br>
                    Здесь вы сможете делиться своим опытом,
                    знаниями и идеями с другими. </p>
            </li>
        </ul>
    </div>
</section>