<section id="example">
    <div class="container">
        <h2 class="example-title">Пример</h2>
        <div class="profile-container">
            <img class="profile-image" src="./images/decoration.png" alt="flower">
            <h3 class="profile-header">Елена Кобызева</h3>
            <ul class="profile-list">
                <li class="profile-item">Коуч специалистов</li>
                <li class="profile-item">Более 6 лет оффлайн и онлайн практики</li>
                <li class="profile-item">Организатор проектов в Германии</li>
                <li class="profile-item">Основываю развивающий центр</li>
                <li class="profile-item">Создаю осознанное общество</li>
                <li class="profile-item">Собираю людей, желающих развиваться</li>
                <li class="profile-item">Соединяю людей для синергии</li>
                <li class="profile-item">Раскрываю таланты</li>
                <li class="profile-item">Закрываю потребности</li>
            </ul>
            <h3 class="profile-header">Тема в проекте: "Развитие специалистов"</h3>
            <p class="profile-description">Все больше людей стремятся к осознанной жизни. Они просыпаются не только для
                себя, но
                и для того, чтобы
                помочь другим
                пробудиться. В определенный момент я осознала, что одной моей силы недостаточно, и решила собрать вокруг
                себя сообщество
                людей, стремящихся к осознанности, чтобы создать поддерживающую атмосферу. В качестве бонуса мы вместе
                обучаем и
                вдохновляем новичков, которые жаждут получить информацию и поддержку. Моя работа — это не просто лекции,
                семинары или
                мастер-классы; это возможность для каждого желающего расти во всех сферах своей жизни и достигать новых
                высот.
            </p>
        </div>
        <p class="exmpl-text">Начало нашего сотрудничества в проекте возможно только после внесения договоренной оплаты,
            оплата зависит от того как
            вы себе представляете ваше выступление в проекте.</p>
    </div>
</section>