<div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-icon-x js-close-menu">
        <svg class="modal-icon-x" width="22" height="22">
            <use href="./images/icons.svg#x-close"></use>
        </svg>
    </button>

    <ul class="mobile-menu list">
        <li class="mobile-menu-list"><a href="#hero" class="mobile-menu-link link">Главная</a></li>
        <li class="mobile-menu-list"><a href="#about" class="mobile-menu-link  link">Обо мне</a></li>
        <li class="mobile-menu-list"><a href="#cooperation" class="mobile-menu-link  link">Сотрудничество</a></li>
        <li class="mobile-menu-list"><a href="#conditions" class="mobile-menu-link  link">Участие</a></li>
        <li class="mobile-menu-list"><a href="#example" class="mobile-menu-link  link">Пример</a></li>
        <li class="mobile-menu-list"><a href="#project" class="mobile-menu-link  link">О проекте</a></li>
    </ul>
</div>