<section class="participation-page" id="participation">
    <div class="container">
        <h2 class="participation-title">Как стать частью проекта</h2>
        <ul class="participation-list">
            <li class="participation-text"> <span class="participation-sec-title">Фото в хорошем качестве:</span> Мы
                просим
                предоставить ваше фото в
                крупном плане для
                размещения на
                сайте, а также 3-4
                фотографии для публикации в сторис.</li>
            <li class="participation-text"> <span class="participation-sec-title">Печатная информация:</span> Мы просим
                предоставить информацию о вас в печатном виде, содержащую следующие пункты:
                <ol class="participation-sec-list">
                    <li>Краткое описание вас и вашей деятельности.</li>
                    <li>Область ваших интересов и экспертизы, особенно в контексте покера.</li>
                    <li>Как вы можете быть полезны аудитории и чем отличается ваш подход.</li>
                    <li>Основные темы вашего выступления и что может получить человек, посетив ваше мероприятие.
                    </li>
                </ol>
            </li>
            <li class="participation-text"><span class="participation-sec-title">Видео:</span> Предоставьте видео с
                информацией,
                указанной выше, в хорошем качестве. А также 2-3 видео-отзыва о вашей работе.</li>
            <li class="participation-text"><span class="participation-sec-title">Ссылки на социальные сети:</span>
                Укажите ссылки
                на те социальные сети, которые вы хотели
                бы разместить на нашем сайте для дальнейшей связи с вашей аудиторией.</li>
        </ul>
    </div>
</section>