.condition-page {
    padding: 30px 0;
}

.condition-title {
    text-align: center;
    font-size: 30px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.condition-list {
    color: var(--brownText);
}

.cond-list-title {
    font-size: 17px;
    font-weight: 700;
    line-height: 1.5;
    text-decoration: underline;
}

.cond-sec-title {
    font-style: italic;
    font-size: 16px;
    font-weight: 500;
}

.cond-text {
    font-size: 15px;
    line-height: 1.5;
}

.cond-sec-list {
    font-size: 14px;
}

@media screen and (min-width: 768px) {
    .condition-title {
        font-size: 40px;
    }

    .cond-list-title {
        font-size: 20px;
    }

    .cond-text {
        font-size: 16.2px;
    }

    .cond-sec-title {
        font-size: 17.2px;
    }

.cond-sec-list {
    font-size: 15.2px;
}

}

@media screen and (min-width: 1280px) {
    .condition-title {
        font-size: 50px;
    }

.cond-list-title {
    font-size: 27px;
}

.cond-text {
    font-size: 23.4px;
}

.cond-sec-title {
    font-size: 24.4px;
}

.cond-sec-list {
    font-size: 22.4px;
}

}